/* Base Banner Styles */
.banner {
  margin-top: -10vh;
  height: 95vh;
  margin-bottom: -80px;
  color: #fff;
  object-fit: contain;
}

.banner__buttons {
  display: flex;
}

.banner__contents {
  margin-left: 40px;
  padding-top: 300px;
}

.banner__title {
  font-size: 5rem;
  font-weight: 900;
  padding-bottom: 1.5rem;
}

.banner__description {
  width: 60rem;
  line-height: 1.4;
  padding: 1rem 0;
  font-size: 1.1rem;
  max-width: 400px;
  height: 80px;
  font-weight: 300;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.3rem 1.3rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__play {
  display: flex;
  align-items: center;
  color: #000;
  background-color: #fff;
  gap: 10px;
}

.banner__play img {
  width: 25px;
}

.banner__play p {
  font-size: 15px;
}

.banner__info {
  display: flex;
  align-items: center;
  color: #000;
  background-color: #818181;
  gap: 10px;
}

.banner__info img {
  width: 25px;
}

.banner__info p {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.banner__button:hover {
  color: #000;
  background-color: #c6c6c6;
  transition: all 0.2s;
}

.banner__fadeBottom {
  height: 55vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    #111
  );
}

/* Responsive Styles */

/* For tablets and smaller screens */
/* @media (max-width: 768px) {
  .banner__title {
    font-size: 3.5rem;
  }

  .banner__description {
    display: none;
    width: 100%;
    font-size: 1rem;
    max-width: 300px;
    height: auto;
  }

  .banner__contents {
    margin-left: 20px;
    padding-top: 200px;
  }

  .banner__button {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }

  .banner {
    height: 70vh;
  }

  .banner__fadeBottom {
    height: 30vh;
  }
} */

/* For mobile screens */
/* @media (max-width: 480px) {
  .banner__title {
    font-size: 2rem;
  }

  .banner__description {
    display: none;
    font-size: 0.9rem;
    max-width: 250px;
  }

  .banner__contents {
    padding-top: 150px;
    margin-left: 10px;
  }

  .banner__button {
    font-size: 0.9rem;
    padding: 0.2rem 0.8rem;
  }

  .banner {
    height: 60vh;
  }

  .banner__fadeBottom {
    height: 25vh;
  }
} */
